body {
    background-color: #3aafa9;
    color: #17252a;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.control-line {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.control-line > button {
    float: left;
}

.control {
    margin-left: 10px;
    margin-right: 10px;
}

.functional-block {
    background-color: #def2f1;
    border-color: #def2f1;
    border-width: 1px;
    border-style: solid;
    margin: 3px;
    padding: 10px;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
}